asgiref==3.7.2
Django==5.0.2
django-crispy-forms==2.1
django-debug-toolbar==3.7.0
django-environ==0.8.1
django-extensions==3.2.1
django-tables2==2.4.1
Pillow==10.2.0
pydotplus==2.0.2
pyparsing==3.0.9
pytz==2021.3
sqlparse==0.4.4
psycopg2-binary==2.9.1
https://github.com/benoitc/gunicorn/archive/refs/heads/master.zip#egg=gunicorn==20.1.0
eventlet==0.35.2
dnspython==2.3.0
python-dotenv==0.19.2
crispy-bootstrap5==2023.10
whitenoise==6.6.0
#python packages for templateV1
crispy-tailwind==0.5.0
pytailwindcss==0.1.2

#cloud storage
django-storages==1.14.2
boto3==1.34.57