#Example .env template
DEBUG=False
SECRET_KEY="udaisdfaiwurd81672r615162358125@@@!*@%3815200---12321"
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="example@gmail.com"
EMAIL_HOST_PASSWORD=maple@123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=gecompostgres
POSTGRES_PASSWORD=gecompostgres
POSTGRES_DATABASE=gecompostgres
DOMAIN=""
EMAIL=""
ALLOWED_HOSTS=0.0.0.0,127.0.0.1