{% extends "base.html" %}
{% load tailwind_filters %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8" style="background-color: #111827;">

    <form method="post">

        {% csrf_token %}
        {{ form|crispy }}
        <a class="forget-btn" href='{% url 'reset-password' %}'>Forgot password? </a>
        <br>
        <button>Login</button>

    </form>

</div>
<style>
    .forget-btn {
        opacity: 0.4;
        color: #ff6d00;
    }

    .forget-btn:hover {
        opacity: 1;
    }

    button {
        width: 100%;
        margin: 1em auto;
        background-color: #ff6d00;
        padding: 0.5em 2.4em;
        color: #fff;
        font-weight: bold;
    }
</style>
{% endblock body %}