{% extends "base.html" %} {% load tailwind_filters %} {% block body %}

<section class=" bg-gray-800">
  <div class="pt-44 max-w-3xl px-6 pb-44 mx-auto text-center">
    <form method="post">
      <h1 class="text-3xl font-semibold text-gray-200 dark:text-gray-100">
        Enter your account Email:
      </h1>
     

      <div
        class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2"
      >
        {% csrf_token %} {{ form|crispy}}
      </div>
      <button
        class="px-4 py-2 mt-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-700 rounded-md sm:mx-2 hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
      >
        Send reset link
      </button>
    </form>
  </div>
</section>

{% endblock body %}
