{% extends 'base.html' %}
{% block body %}
<main class="h-screen w-full flex flex-col justify-center items-center bg-gray-800">
	<h1 class="text-9xl font-extrabold text-white tracking-widest">Error!</h1>
	<div class="bg-red-500 px-2 text-sm rounded rotate-12 absolute">
	  Purchase not allowed on Demo website!
	</div>
	<button class="mt-5">
    <a href="{% url 'home' %}"
        class="relative inline-block text-sm font-medium text-white group active:text-orange-500 focus:outline-none focus:ring"
      >
        <span
          class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-yellow-400 group-hover:translate-y-0 group-hover:translate-x-0"
          style="background-color: #FF6A3D;"
        ></span>
        
        <span class="relative block px-8 py-3 bg-gray-900 border border-current"
        style="background-color: #ff6d00; border:1px solid #ff6d00;">

          <router-link to="{% url 'home' %}">Go Home</router-link>
        </span>
      </a>
    </button>
</main>
{% endblock body %}