{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="text-gray-400 bg-gray-900 body-font">
 <div 
        class='w-full h-full bg-no-repeat bg-cover bg-left'
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'games/assests/background1.jpg' %});"        
        
        >
  <div class="container px-5 py-24 mx-auto">
   <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Games List</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-4">
    {% for game in games %}
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{game.cover.url}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{game.category}}</h3>
          <h2 class="text-white title-font text-lg font-medium">{{game.name}}</h2>
          <p class="mt-1">${{game.price}}</p>
        </div>
      </div>
    {% endfor %}  
    </div>
  </div>
 </div> 
</section>
{% endblock body %}