{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="subheader" class="jarallax">
                <div class="de-gradient-edge-bottom"></div>
                <img src="{{game.cover.url}}" class="jarallax-img" alt="">
                <div class="container z-1000">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-4 d-lg-block d-none">
                            <img src="{{game.box_art.url}}" class="img-fluid wow fadeInUp" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="subtitle wow fadeInUp mb-3">Game hosting</div>
                            <h2 class="wow fadeInUp mb20" data-wow-delay=".2s">{{game.name}}</h2>
                            <div class="de-rating-ext wow fadeInUp" data-wow-delay=".4s">
                                <span class="d-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </span>
                                <span class="d-val">4.75</span>
                                based on <strong>4086</strong> reviews.
                            </div>
                        </div>      
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!--preconfigured server price table-->
            <section class="no-top">
              <div class="container">
                  <div class="row">

                      <div class="col-xl-3 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay=".2s">
                          <div class="de_pricing-table type-2">
                              <div class="d-head">
                                  <h3>Minimum</h3>
                              </div>
                              <div class="d-price">
                                  <h4 class="opt-1">$.359<span>/hr</span></h4>
                                  {% comment %} <h4 class="opt-2">$2.59<span>/mo</span></h4> {% endcomment %}
                                  <p>Normally <s>$.999</s></p>
                              </div>                                
                              <div class="d-location">
                                <h4>Server Location</h4>
                                <select name='Server Location' class="server_location" class="form-control">
                                  <option value='option-1' data-src="{% static 'images/flags/united-kingdom.png' %}">
                                    London, England
                                  </option>
                                  <option value='option-2' data-src="{% static 'images/flags/france.png' %}">
                                    Paris, France
                                  </option>
                                  <option value='option-3' data-src="{% static 'images/flags/germany.png' %}">
                                    Frankurt, Germany
                                  </option>
                                  <option value='option-4' data-src="{% static 'images/flags/netherlands.png' %}">
                                    Amsterdam, Netherlands
                                  </option>
                                  <option value='option-5' data-src="{% static 'images/flags/sweden.png' %}">
                                    Stockholm, Sweden
                                  </option>
                                  <option value='option-6' data-src="{% static 'images/flags/finland.png' %}">
                                    Helsinki, Finland
                                  </option>
                                  <option value='option-7' data-src="{% static 'images/flags/usa.png' %}">
                                    Los Angeles, USA
                                  </option>
                                  <option value='option-8' data-src="{% static 'images/flags/canada.png' %}">
                                    Quebec, Canada
                                  </option>
                                  <option value='option-9' data-src="{% static 'images/flags/australia.png' %}">
                                    Sydney, Australia
                                  </option>
                                  <option value='option-10' data-src="{% static 'images/flags/brazil.png' %}">
                                    Sau Paulo, Brazil
                                  </option>
                                  <option value='option-11' data-src="{% static 'images/flags/thailand.png' %}">
                                    Bangkok, Thailand
                                  </option>
                                  <option value='option-12' data-src="{% static 'images/flags/indonesia.png' %}">
                                    Jakarta, Indonesia
                                  </option>
                                </select>
                              </div>
                              <div class="spacer-5"></div>
                              <div class="d-group">
                                  <h4>Top Features</h4>
                                  <ul class="d-list">
                                      <li>Intel Core i5 / AMD Ryzen 5 series</li>
                                      <li>8GB DDR4 RAM</li>
                                      <li>NVIDIA GeForce GTX 1660 Ti / AMD Radeon RX 5700</li>
                                      <li>HDD STORAGE</li>
                                  </ul>
                              </div>
                              <div class="d-action">
                                <a href="{% url "misc:development-status" %}" class="btn-main opt-1 w-100"><span>Get Plan</span></a>
                                {% comment %} <a href="#" class="btn-main opt-2 w-100"><span>Get Yearly Plan</span></a> {% endcomment %}
                                <p>Charged after first free 10 hours.</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                          <div class="de_pricing-table type-2">
                              <div class="d-head">
                                  <h3>Recommended</h3>
                              </div>
                              <div class="d-price">
                                  <h4 class="opt-1">$.559<span>/hr</span></h4>
                                  {% comment %} <h4 class="opt-2">$3.59<span>/mo</span></h4> {% endcomment %}
                                  <p>Normally <s>$1.599</s></p>
                              </div>
                              <div class="d-location">
                                <h4>Server Location</h4>
                                <select name='Server Location' class="server_location" class="form-control">
                                  <option value='option-1' data-src="{% static 'images/flags/united-kingdom.png' %}">
                                    London, England
                                  </option>
                                  <option value='option-2' data-src="{% static 'images/flags/france.png' %}">
                                    Paris, France
                                  </option>
                                  <option value='option-3' data-src="{% static 'images/flags/germany.png' %}">
                                    Frankurt, Germany
                                  </option>
                                  <option value='option-4' data-src="{% static 'images/flags/netherlands.png' %}">
                                    Amsterdam, Netherlands
                                  </option>
                                  <option value='option-5' data-src="{% static 'images/flags/sweden.png' %}">
                                    Stockholm, Sweden
                                  </option>
                                  <option value='option-6' data-src="{% static 'images/flags/finland.png' %}">
                                    Helsinki, Finland
                                  </option>
                                  <option value='option-7' data-src="{% static 'images/flags/usa.png' %}">
                                    Los Angeles, USA
                                  </option>
                                  <option value='option-8' data-src="{% static 'images/flags/canada.png' %}">
                                    Quebec, Canada
                                  </option>
                                  <option value='option-9' data-src="{% static 'images/flags/australia.png' %}">
                                    Sydney, Australia
                                  </option>
                                  <option value='option-10' data-src="{% static 'images/flags/brazil.png' %}">
                                    Sau Paulo, Brazil
                                  </option>
                                  <option value='option-11' data-src="{% static 'images/flags/thailand.png' %}">
                                    Bangkok, Thailand
                                  </option>
                                  <option value='option-12' data-src="{% static 'images/flags/indonesia.png' %}">
                                    Jakarta, Indonesia
                                  </option>
                                </select>
                              </div>
                              <div class="d-group">
                                  <h4>Top Features</h4>
                                  <ul class="d-list">
                                      <li> Intel Core i7-12700K / AMD Ryzen 7 5800X</li>
                                      <li>16GB DDR4 RAM</li>
                                      <li>NVIDIA GeForce RTX 3060 / AMD Radeon RX 6700 XT</li>
                                      <li>SSD STORAGE</li>
                                  </ul>
                              </div>
                              <div class="d-action">
                                <a href="{% url "misc:development-status" %}" class="btn-main opt-1 w-100"><span>Get Plan</span></a>
                                {% comment %} <a href="#" class="btn-main opt-2 w-100"><span>Get Yearly Plan</span></a> {% endcomment %}
                                <p>Charged after first free 10 hours.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-xl-3 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay=".6s">
                          <div class="de_pricing-table type-2 rec">
                              <div class="d-recommend">Best Seller</div>
                              <div class="d-head">
                                  <h3>Hardcore</h3>
                              </div>
                              <div class="d-price">
                                  <h4 class="opt-1">$.859<span>/hr</span></h4>
                                  {% comment %} <h4 class="opt-2">$5.59<span>/mo</span></h4> {% endcomment %}
                                  <p>Normally <s>$2.499</s></p>
                              </div>
                              <div class="d-location">
                                <h4>Server Location</h4>
                                <select name='Server Location' class="server_location" class="form-control">
                                  <option value='option-1' data-src="{% static 'images/flags/united-kingdom.png' %}">
                                    London, England
                                  </option>
                                  <option value='option-2' data-src="{% static 'images/flags/france.png' %}">
                                    Paris, France
                                  </option>
                                  <option value='option-3' data-src="{% static 'images/flags/germany.png' %}">
                                    Frankurt, Germany
                                  </option>
                                  <option value='option-4' data-src="{% static 'images/flags/netherlands.png' %}">
                                    Amsterdam, Netherlands
                                  </option>
                                  <option value='option-5' data-src="{% static 'images/flags/sweden.png' %}">
                                    Stockholm, Sweden
                                  </option>
                                  <option value='option-6' data-src="{% static 'images/flags/finland.png' %}">
                                    Helsinki, Finland
                                  </option>
                                  <option value='option-7' data-src="{% static 'images/flags/usa.png' %}">
                                    Los Angeles, USA
                                  </option>
                                  <option value='option-8' data-src="{% static 'images/flags/canada.png' %}">
                                    Quebec, Canada
                                  </option>
                                  <option value='option-9' data-src="{% static 'images/flags/australia.png' %}">
                                    Sydney, Australia
                                  </option>
                                  <option value='option-10' data-src="{% static 'images/flags/brazil.png' %}">
                                    Sau Paulo, Brazil
                                  </option>
                                  <option value='option-11' data-src="{% static 'images/flags/thailand.png' %}">
                                    Bangkok, Thailand
                                  </option>
                                  <option value='option-12' data-src="{% static 'images/flags/indonesia.png' %}">
                                    Jakarta, Indonesia
                                  </option>
                                </select>
                              </div>
                              <div class="d-group">
                                  <h4>Top Features</h4>
                                  <ul class="d-list">
                                      <li>Intel Core i9-12900K / AMD Ryzen 9 5950X</li>
                                      <li>32GB DDR4 RAM</li>
                                      <li>NVIDIA GeForce RTX 3080 / AMD Radeon RX 6800 XT</li>
                                      <li>SSD Storage</li>
                                  </ul>
                              </div>                                
                              <div class="d-action">
                                <a href="{% url "misc:development-status" %}" class="btn-main opt-1 w-100"><span>Get Plan</span></a>
                                {% comment %} <a href="#" class="btn-main opt-2 w-100"><span>Get Yearly Plan</span></a> {% endcomment %}
                                <p>Charged after first free 10 hours.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-xl-3 col-md-6ss mb-sm-30 wow fadeInRight" data-wow-delay=".8s">
                          <div class="de_pricing-table type-2">
                              <div class="d-head">
                                  <h3>Custom</h3>
                              </div>
                              <div class="d-price">
                                  {% comment %} <h4 class="opt-1">$custom<span>/hr</span></h4> {% endcomment %}
                                  {% comment %} <h4 class="opt-2">$10.59<span>/mo</span></h4> {% endcomment %}
                                  {% comment %} <p>Normally <s>$36.99</s></p> {% endcomment %}
                              </div>
                              <div class="d-location">
                                <h4>Server Location</h4>
                                <select name='Server Location' class="server_location" class="form-control">
                                  <option value='option-1' data-src="{% static 'images/flags/united-kingdom.png' %}">
                                    London, England
                                  </option>
                                  <option value='option-2' data-src="{% static 'images/flags/france.png' %}">
                                    Paris, France
                                  </option>
                                  <option value='option-3' data-src="{% static 'images/flags/germany.png' %}">
                                    Frankurt, Germany
                                  </option>
                                  <option value='option-4' data-src="{% static 'images/flags/netherlands.png' %}">
                                    Amsterdam, Netherlands
                                  </option>
                                  <option value='option-5' data-src="{% static 'images/flags/sweden.png' %}">
                                    Stockholm, Sweden
                                  </option>
                                  <option value='option-6' data-src="{% static 'images/flags/finland.png' %}">
                                    Helsinki, Finland
                                  </option>
                                  <option value='option-7' data-src="{% static 'images/flags/usa.png' %}">
                                    Los Angeles, USA
                                  </option>
                                  <option value='option-8' data-src="{% static 'images/flags/canada.png' %}">
                                    Quebec, Canada
                                  </option>
                                  <option value='option-9' data-src="{% static 'images/flags/australia.png' %}">
                                    Sydney, Australia
                                  </option>
                                  <option value='option-10' data-src="{% static 'images/flags/brazil.png' %}">
                                    Sau Paulo, Brazil
                                  </option>
                                  <option value='option-11' data-src="{% static 'images/flags/thailand.png' %}">
                                    Bangkok, Thailand
                                  </option>
                                  <option value='option-12' data-src="{% static 'images/flags/indonesia.png' %}">
                                    Jakarta, Indonesia
                                  </option>
                                </select>
                              </div>
                              <div class="d-group">
                                  <h4>Top Features</h4>
                                  <ul class="d-list">
                                      <li>Super Quick Setup</li>
                                      <li>Premium Hardware</li>
                                      <li>custom component of your choices.</li>
                                      <li>DDos Protection</li>
                                      {% comment %} <li>Admin Privilege.</li> {% endcomment %}
                                      <li>24/7 Customer Support</li>
                                      <li>"well don,Son!" message to your email</li>
                                  </ul>
                              </div>
                              <div class="d-action">
                                  <a href="{% url "misc:development-status" %}" class="btn-main opt-1 w-100"><span>Get Plan</span></a>
                                  {% comment %} <a href="#" class="btn-main opt-2 w-100"><span>Get Yearly Plan</span></a> {% endcomment %}
                                  {% comment %} <p>Charged after first free 10 hours.</p> {% endcomment %}
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
          </section>

        <!-- content close -->

{% endblock content %}