{% extends "base.html" %}
{% load tailwind_filters %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8" style="background-color: #111827;">

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}
        <button class="inline-flex items-center bg-yellow-200 border-0 py-1 px-3 mb-1 text-yellow-700 focus:outline-none hover:text-yellow-900 rounded text-base mt-4 md:mt-0">
            update
        </button>
    </form>

</div>

{% endblock body %}