<!doctype html>
<html>
<head>
{% block head %}{% endblock head %}
<title>{% block title %}{% endblock title %}</title>
<!--
<meta name="description" content="Gecom first page">
<meta name="keywords" content="">
-->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- This example requires Tailwind CSS v2.0+ -->
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Gecom</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
      <a href="{% url 'home' %}" class="mr-5 hover:text-white">Home</a>
      <a href="{% url 'games:games' %}" class="mr-5 hover:text-white">Explore</a>
      <a class="mr-5 hover:text-white">PC parts</a>
      <a class="mr-5 hover:text-white">Fourth Link</a>
    </nav>
    <a href="{% url 'signup' %}"
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Signup
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    </a>
  </div>
</header>

{% block body %}{% endblock body %}
</body>
<footer>
{% block footer %}
{% endblock footer %}
</footer>
</html>