{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="Gecom - Gamers own platform " name="description" >
    <meta content="{% block meta  %}{% endblock meta  %}" name="keywords" >
    <meta content="Alex Deathway" name="author" >
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css" >
    {% block head %}
    <!--give head ;)  -->
    {% endblock head %}

    
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css" >
</head>

<body class="dark-scheme">
    <div id="wrapper">
        <div class="float-text show-on-scroll">
            <span><a href="#">Scroll to top</a></span>
        </div>
        <div class="scrollbar-v show-on-scroll"></div>
        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="{% url 'home' %}">
                                          <img class="logo-main" src="{% static 'images/logo.png' %}" alt="" >
                                          <img class="logo-mobile" src="{% static 'images/logo-mobile.png' %}" alt="" >
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                    <a class="menu-item" href="{% url 'home' %}">Home</a>
                                        {% comment %} <ul>
                                            <li><a class="menu-item" href="index.html">Homepage One</a></li>
          
                                        </ul> {% endcomment %}
                                    </li>
                                    <li>
                                        <a class="menu-item" href="{% url 'games:games' %}">Game Servers</a>
                                        {% comment %} <ul>
                                            <li><a class="menu-item" href="game-server-1.html">Games Server One</a></li>
                                            <li><a class="menu-item" href="game-server-2.html">Games Server Two</a></li>
                                            <li><a class="menu-item" href="pricing-table-one.html">Pricing Table One</a></li>
                                            <li><a class="menu-item" href="pricing-table-two.html">Pricing Table Two</a></li>
                                            <li><a class="menu-item" href="pricing-table-three.html">Pricing Table Three</a></li>
                                            <li><a class="menu-item" href="pricing-table-four.html">Pricing Table Four</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                    {% comment %} <li><a class="menu-item" href="locations.html">Locations</a></li>{% endcomment %}
                                    <li><a class="menu-item" href="{% url "misc:development-status" %}">Support</a>
                                        <ul>
                                            <li><a class="menu-item" href="{% url "misc:development-status" %}">Knowledgebase</a></li>
                                            <li><a class="menu-item" href="{% url "misc:development-status" %}">FAQ</a></li>
                                            <li><a class="menu-item" href="{% url "misc:development-status" %}"">Contact</a></li>
                                        </ul>
                                    </li>
                                    {% comment %}
                                    <li><a class="menu-item" href="news.html">News</a></li>
                                    <li><a class="menu-item" href="#">Company</a>
                                        <ul>
                                            <li><a class="menu-item" href="about.html">About Us</a></li>
                                            <li><a class="menu-item" href="affliate.html">Affliates</a></li>
                                        </ul>
                                    </li> {% endcomment %}
                                    <li><a class="menu-item" href="{% url "login" %}">Login</a>
                                        {% comment %} <ul>
                                            <li><a class="menu-item" href="login.html">Login</a></li>
                                            <li><a class="menu-item" href="register.html">Register</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                
                                {% if user.is_authenticated %}
                                <div class="menu_side_area">
                                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-main btn-line"><span>Logout</span></button>
                                    </form>
                                    <span id="menu-btn"></span>
                                </div>                                
                                {% else %}
                                <div class="menu_side_area">
                                    <a href="{% url 'signup' %}" class="btn-main btn-line" style="background-color: red;"><span>Signup</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        {% block content %}{% endblock content %}
        <!-- content close -->
        
        <!-- ` begin -->
        <footer>
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <img src="{% static 'images/logo.png' %}" alt="" >
                        <div class="spacer-20"></div>
                        <p>We redefine the cloud gaming landscape by not only offering a cutting-edge cloud gaming service but also providing users the unprecedented ability to build their custom servers. Tailor your gaming experience with handpicked components, ensuring a personalized environment for unparalleled performance and enjoyment.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                {% comment %} <div class="widget">
                                    <h5>Game Server</h5>
                                    <ul>
                                        <li><a href="#">Thunder and City</a></li>
                                        <li><a href="#">Mystic Racing Z</a></li>
                                        <li><a href="#">Silent Wrath</a></li>
                                        <li><a href="#">Funk Dungeon</a></li>
                                        <li><a href="#">Galactic Oddsey</a></li>
                                        <li><a href="#">Warfare Legend</a></li>
                                    </ul>
                                </div> {% endcomment %}
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Pages</h5>
                                    <ul>
                                        <li><a href="{% url "home" %}">Home</a></li>
                                        <li><a href="{% url "games:games" %}">Games</a></li>
                                        {% comment %} <li><a href="ur">About Us</a></li>
                                        <li><a href="#">Affliates</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">News</a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5>Newsletter</h5>
                            <form action="blank.php" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
                                <div class="col text-center">
                                    <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email" type="text" > <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="spacer-10"></div>
                            <small>Your email is safe with us. We don't spam.</small>
                            <div class="spacer-30"></div>
                            <div class="widget">
                                <h5>Follow Us on</h5>
                                <div class="social-icons">
                                    <a href="https://github.com/alexdeathway" target=" _blank"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/alexdeathway" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://github.com/alexdeathway" target="_blank"><i class="fa-brands fa-discord"></i></a>
                                    <a href="https://github.com/alexdeathway" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                                    <a href="https://github.com/alexdeathway" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                    <a href="https://github.com/alexdeathway" target="_blank"><i class="fa-brands fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                           Copyright Gecom | {% now "Y" %}  
                        </div>
                        <div class="col-lg-6 col-sm-6 text-lg-end text-sm-start">
                            <ul class="menu-simple">
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/custom-marquee.js' %}"></script>
    <script src="{% static 'js/custom-swiper-1.js' %}"></script>

</body>

</html>