{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="Gecom - Gamers own platform " name="description" >
    <meta content="{% block meta  %}{% endblock meta  %}" name="keywords" >
    <meta content="Alex Deathway" name="author" >
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css" >
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css" >
</head>

<body class="dark-scheme">
    <div id="wrapper">
        <div class="float-text show-on-scroll">
            <span><a href="#">Scroll to top</a></span>
        </div>
        <div class="scrollbar-v show-on-scroll"></div>
        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                          <img class="logo-main" src="{% static 'images/logo.png' %}" alt="" >
                                          <img class="logo-mobile" src="{% static 'images/logo-mobile.png' %}" alt="" >
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="index.html">Home</a>
                                        <ul>
                                            <li><a class="menu-item" href="index.html">Homepage One</a></li>
          
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="game-server-1.html">Game Servers</a>
                                        <ul>
                                            <li><a class="menu-item" href="game-server-1.html">Games Server One</a></li>
                                            <li><a class="menu-item" href="game-server-2.html">Games Server Two</a></li>
                                            <li><a class="menu-item" href="pricing-table-one.html">Pricing Table One</a></li>
                                            <li><a class="menu-item" href="pricing-table-two.html">Pricing Table Two</a></li>
                                            <li><a class="menu-item" href="pricing-table-three.html">Pricing Table Three</a></li>
                                            <li><a class="menu-item" href="pricing-table-four.html">Pricing Table Four</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="locations.html">Locations</a></li>
                                    <li><a class="menu-item" href="#">Support</a>
                                        <ul>
                                            <li><a class="menu-item" href="knowledgebase.html">Knowledgebase</a></li>
                                            <li><a class="menu-item" href="faq.html">FAQ</a></li>
                                            <li><a class="menu-item" href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="news.html">News</a></li>
                                    <li><a class="menu-item" href="#">Company</a>
                                        <ul>
                                            <li><a class="menu-item" href="about.html">About Us</a></li>
                                            <li><a class="menu-item" href="affliate.html">Affliates</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="#">More Pages</a>
                                        <ul>
                                            <li><a class="menu-item" href="login.html">Login</a></li>
                                            <li><a class="menu-item" href="register.html">Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="game-server-1.html" class="btn-main btn-line"><span>Get Hosting</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        {% block content %}{% endblock content %}
        <!-- content close -->
        
        <!-- ` begin -->
        <footer>
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <img src="images/logo.png" alt="" >
                        <div class="spacer-20"></div>
                        <p>Lorem ipsum culpa tempor tempor eu laboris adipisicing sunt excepteur enim laborum officia eiusmod laborum sint do aliqua incididunt est aute deserunt in elit non sed ut velit ullamco aliquip. Nulla cupidatat elit amet sed labore ut et consequat nostrud laboris aliqua ex est fugiat quis aliqua duis quis esse dolor laboris non duis sunt.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Game Server</h5>
                                    <ul>
                                        <li><a href="#">Thunder and City</a></li>
                                        <li><a href="#">Mystic Racing Z</a></li>
                                        <li><a href="#">Silent Wrath</a></li>
                                        <li><a href="#">Funk Dungeon</a></li>
                                        <li><a href="#">Galactic Oddsey</a></li>
                                        <li><a href="#">Warfare Legend</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Pages</h5>
                                    <ul>
                                        <li><a href="#">Game Server</a></li>
                                        <li><a href="#">Knowledgebase</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Affliates</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">News</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5>Newsletter</h5>
                            <form action="blank.php" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
                                <div class="col text-center">
                                    <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email" type="text" > <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="spacer-10"></div>
                            <small>Your email is safe with us. We don't spam.</small>
                            <div class="spacer-30"></div>
                            <div class="widget">
                                <h5>Follow Us on</h5>
                                <div class="social-icons">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                           Copyright Gecom | {% now "Y" %}  
                        </div>
                        <div class="col-lg-6 col-sm-6 text-lg-end text-sm-start">
                            <ul class="menu-simple">
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/custom-marquee.js' %}"></script>
    <script src="{% static 'js/custom-swiper-1.js' %}"></script>

</body>

</html>