{% extends 'base.html' %}
{% load static %}
{% block title %}
Gecom
{% endblock title %}
{% block body %}

<!--leading Game of year-->
<section class="text-gray-400 bg-gray-900 body-font ">
  <div 
        class='w-full h-full bg-no-repeat bg-cover bg-left bg-fixed'
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'games/assests/landing2.jpg' %});"        
        
        >
  <div class="container mx-auto  flex px-5 py-20 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0 mb-10">
      <img class="object-cover object-center rounded" alt="hero" src="{{latest_release.cover.url}}">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">{{ latest_release.name }}
        <br class="hidden lg:inline-block">
      </h1>
      <p class="mb-8 leading-relaxed">{{latest_release.discription}}</p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Button</button>
      </div>
    </div>
  </div>
 </div> 
</section>

<!--New relase-->
<section class="text-gray-400 bg-gray-900 body-font">
 <div 
        class='w-full h-full bg-no-repeat bg-cover bg-left'
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'games/assests/NewRelease.jpg' %});"        
        
        >
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
   
    <!--Sales games here-->  
    {% for game in games_sales %}
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{game.cover.url}}" alt="blog">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">{{game.category}}</h2>
            <h1 class="title-font text-lg font-medium text-white mb-3">{{game.name}}</h1>
            <p class="leading-relaxed mb-3">{{game.discription|slice:":120"}}</p>
            <div class="flex items-center flex-wrap ">
              <a class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">${{game.price}}
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>1.2K
              </span>
              <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>6
              </span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
    </div>
  </div>
 </div> 
</section>
<!--games-->

<section class="text-gray-400 bg-gray-900 body-font">
 <div 
        class='w-full h-full bg-no-repeat bg-cover bg-left'
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'games/assests/background1.jpg' %});"        
        
        >
  <div class="container px-5 py-24 mx-auto">
   <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Games List</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-4">
    {% for game in games %}
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{game.cover.url}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{game.category}}</h3>
          <h2 class="text-white title-font text-lg font-medium">{{game.name}}</h2>
          <p class="mt-1">${{game.price}}</p>
        </div>
      </div>
    {% endfor %}  
    </div>
  </div>
 </div> 
</section>

<!--category-->
<section class="text-gray-400 body-font bg-gray-900">
 <div 
        class='w-full h-full bg-no-repeat bg-cover bg-left bg-fixed'
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'games/assests/background3.jpg' %});"
        
        >
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white"> Browse Game Library</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-4">
    
    {% for category in categories  %}
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{category.cover.url}}" alt="content">
          <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">Library</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">{{category.name}}</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
    {% endfor %}  
    
    </div>
  </div>
 </div> 
</section>
{% endblock body %}
