:root {
  --primary-color: #5623d8;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #6a79fa;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #e615af;
  --tertiary-color-rgb: rgba(230, 21, 175, 1.0);
}